h1 {
    font-family: 'Fonarto XT', sans-serif;
    font-family: 'Fonarto', sans-serif;

}

#con {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

a {
    text-decoration: none;
}

body {
    background-color: rgba(0 , 0, 0, 0.2);
}